# Ignore datasets and checkpoints in GLOWNet

GLOWNet/datasets/Ablation_dataset/
GLOWNet/datasets/DIV2K/
GLOWNet/datasets/Denoising_DIV2K/
GLOWNet/checkpoints/
GLOWNet/logs
GLOWNet/pretrained_model
GLOWNet/demo_results

